Add a new Todo:
<span class="row">
    <span id="addTodo" class="col-lg-5">
        <span class="input-group">
            <input class="form-control" #input type="text" placeholder="Owner" [(ngModel)]="newTodoOwner">
            <!-- <input class="form-control" #input type="text" placeholder="Status" [(ngModel)]="newTodoStatus"> -->
            <select class="form-control" #input type="text" placeholder="Status" [(ngModel)]="newTodoStatus">
                <option value="incomplete">Incomplete</option>
                <option value="complete">Complete</option>
            </select>
            <input class="form-control" #input type="text" placeholder="Body" [(ngModel)]="newTodoBody">
            <input class="form-control" #input type="text" placeholder="Category" [(ngModel)]="newTodoCategory">

            <button class="form-control" #input type="button" (click)="this.addNewTodo(newTodoOwner, newTodoStatus, newTodoBody, newTodoCategory)">Add Todo</button>
        </span>
    </span>
</span>

<!-- The owners todoOwner and todoStatus, different from searchOwner and searchStatus, are being
used here only to illustrate that these inputs are not necessarily explicitly referencable from within
the typescript. Unless made to do so by defining a todoOwner variable within this component's typescript file-->
<span id="title" class="list-group-item list-group-item-info">
    <span id="list-title"> Todo Owner </span>
    <input id="todoOwner" #input type="text" placeholder="Filter by owner" (input)="todoOwner = $event.target.value">
    <select #input type="text" placeholder="Filter by status" (input)="todoStatus= $event.target.value">
                <option value="">Status</option>
                <option value="incomplete">Incomplete</option>
                <option value="complete">Complete</option>
            </select>
    <input id="todoBody" #input type="text" placeholder="Filter by body" (input)="todoBody = $event.target.value">
    <input id="todoCategory" #input type="text" placeholder="Filter by category" (input)="todoCategory = $event.target.value">
</span>

<ul class="list-group" *ngIf="todos; else todosError">
    <li id="todos" *ngFor="let todo of this.filterTodos(todoOwner, todoStatus, todoBody, todoCategory)" class="list-group-item">
        Owner: {{ todo.owner }}<br>
        Status: {{ todo.status}}<br>
        Body: {{ todo.body }} <br>
        Category: {{ todo.category }} <br>
    </li>
</ul>
<!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
<ng-template #todosError>
    <p>
        There was a problem loading the todos. Possibly the server is down or perhaps there are network issues.
    </p>
    <p>
        Please wait a bit and try again or start the server.
    </p>
</ng-template>
